docs/n8n/pessobot-workflow-v2.json
{
  "name": "PessoBot - Assistant Bar & Membres (v2 — Supabase driven)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pessobot",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "http://localhost:5173,https://pessora.mq,https://www.pessora.mq"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-3460, 672],
      "id": "512c593a-1c5c-4a82-85d6-26bca4b7c292",
      "name": "Webhook PessoBot",
      "webhookId": "18e517ee-0a54-44ab-80e3-ca17a6ea61fb"
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────────────────────────────────────\n// VERIFY SIGNATURE — rejette les requêtes sans le header X-Pessobot-Signature\n// attendu. À désactiver en dev si VITE_PESSOBOT_SIGNATURE est vide côté front.\n// Définir la variable d'env n8n : PESSOBOT_SIGNATURE = <même valeur que .env front>\n// ────────────────────────────────────────────────────────────────────────────\nconst expected = $env.PESSOBOT_SIGNATURE || '';\nconst webhook = $('Webhook PessoBot').first().json;\nconst received = (webhook.headers && (webhook.headers['x-pessobot-signature'] || webhook.headers['X-Pessobot-Signature'])) || '';\n\nif (expected && received !== expected) {\n  throw new Error('Unauthorized: invalid or missing X-Pessobot-Signature header');\n}\n\nreturn [{ json: webhook }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3240, 672],
      "id": "a9c0b6f1-1234-4b66-9a12-0a1234567890",
      "name": "Verify Signature"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "check-userid",
              "leftValue": "={{ $json.body.userId }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-3000, 672],
      "id": "d1b7e50b-830d-47d7-8525-538c9995477e",
      "name": "Is Member Connected?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT first_name, role FROM public.profiles WHERE id = '{{ $json.body.userId }}' LIMIT 1;\nSELECT plan, status FROM public.subscriptions WHERE user_id = '{{ $json.body.userId }}' AND status = 'active' ORDER BY start_date DESC LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [-2760, 480],
      "id": "6f289389-a3fd-4af5-be6c-635ace51b1d4",
      "name": "Get Profile Supabase",
      "credentials": {
        "postgres": { "id": "YIzw2d5idZRTu3ES", "name": "KARIBLOOM" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT slug, name, category, price, calories, protein, description, pitch, ingredients, benefits, badges FROM public.v_pessobot_menu;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [-2540, 560],
      "id": "b2345678-90ab-4cde-9012-345678901234",
      "name": "Get Menu Supabase",
      "credentials": {
        "postgres": { "id": "YIzw2d5idZRTu3ES", "name": "KARIBLOOM" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT address, hours, contact FROM public.bar_settings WHERE id = 1 LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [-2320, 640],
      "id": "c3456789-01bc-4def-9123-456789012345",
      "name": "Get Bar Settings Supabase",
      "credentials": {
        "postgres": { "id": "YIzw2d5idZRTu3ES", "name": "KARIBLOOM" }
      }
    },
    {
      "parameters": {
        "jsCode": "// ────────────────────────────────────────────────────────────────────────────\n// BUILD SYSTEM PROMPT (v2 — 100% dynamique)\n// Sources : public.v_pessobot_menu + public.bar_settings + profiles + subscriptions\n// Toute modification admin (table bar_settings, produits) est répercutée au prochain\n// tour de chat, sans redéploiement.\n// ────────────────────────────────────────────────────────────────────────────\n\n// 1. Webhook — message utilisateur\nconst webhook = $('Webhook PessoBot').first().json;\nconst userMsg = (webhook.body && webhook.body.message) || '';\nconst sessionId = (webhook.body && webhook.body.sessionid) || 'session-inconnue';\nconst userId = (webhook.body && webhook.body.userId) || null;\n\n// 2. Profil + abonnement (deux requêtes chaînées dans le même node)\nlet profile = null;\nlet subscription = null;\ntry {\n  const rows = $('Get Profile Supabase').all();\n  if (rows[0]) profile = rows[0].json || null;\n  if (rows[1]) subscription = rows[1].json || null;\n} catch (e) { /* visiteur */ }\n\nconst isConnected = !!userId;\nconst firstName = (profile && profile.first_name) || 'Membre';\nconst plan = (subscription && subscription.plan) || 'free';\nconst isOraPlus = ['starter', 'premium', 'vip'].includes(String(plan).toLowerCase());\n\nlet clientStatus = 'VISITOR';\nif (isConnected) clientStatus = isOraPlus ? 'VIP_MEMBER' : 'FREE_MEMBER';\n\n// 3. Menu dynamique (v_pessobot_menu)\nconst menuRows = $('Get Menu Supabase').all().map((r) => r.json || {});\n\nconst categoryLabel = {\n  wellness: '🍵 WELLNESS',\n  energie:  '⚡ ÉNERGIE',\n  shakes:   '🥤 SHAKES',\n  coffee:   '☕ COFFEE',\n};\n\nconst menuByCategory = menuRows.reduce((acc, row) => {\n  const cat = (row.category || 'divers').toLowerCase();\n  (acc[cat] = acc[cat] || []).push(row);\n  return acc;\n}, {});\n\nconst formatRow = (r) => {\n  const bits = [];\n  if (r.price != null) bits.push(`${Number(r.price).toFixed(0)}€`);\n  if (r.protein != null) bits.push(`${r.protein}g prot`);\n  if (r.calories != null) bits.push(`${r.calories}kcal`);\n  const meta = bits.length ? ` (${bits.join(' · ')})` : '';\n  const ings = Array.isArray(r.ingredients) && r.ingredients.length ? ` — ${r.ingredients.join(', ')}` : '';\n  const ben  = Array.isArray(r.benefits)    && r.benefits.length    ? ` [${r.benefits.join(', ')}]`    : '';\n  return `• ${r.name}${meta}${ings}${ben}`;\n};\n\nlet menuBlock = '';\nfor (const cat of Object.keys(categoryLabel)) {\n  if (menuByCategory[cat] && menuByCategory[cat].length) {\n    menuBlock += `\\n\\n${categoryLabel[cat]}\\n` + menuByCategory[cat].map(formatRow).join('\\n');\n  }\n}\nif (!menuBlock) menuBlock = '\\n(Menu temporairement indisponible — excuse-toi et propose de rappeler plus tard.)';\n\n// 4. Infos bar (bar_settings)\nlet bar = { address: {}, hours: [], contact: {} };\ntry {\n  const rows = $('Get Bar Settings Supabase').all();\n  if (rows[0] && rows[0].json) bar = rows[0].json;\n} catch (e) { /* fallback vide */ }\n\nconst addressLine = (bar.address && bar.address.full) || '';\nconst hoursLines = Array.isArray(bar.hours)\n  ? bar.hours.map((h) => `• ${h.label} : ${h.value}`).join('\\n')\n  : '';\nconst contact = bar.contact || {};\nconst contactLines = [\n  contact.email     ? `• Email : ${contact.email}` : '',\n  contact.phone     ? `• Téléphone : ${contact.phone}` : '',\n  contact.instagram ? `• Instagram : ${contact.instagram}` : '',\n].filter(Boolean).join('\\n');\n\nconst infosBar = `\\n📍 ADRESSE : ${addressLine || '(non renseignée — dis-le poliment sans inventer.)'}\\n\\n🕐 HORAIRES :\\n${hoursLines || '(non renseignés — réponds « je n’ai pas cette info à jour, je te recontacte »)'}\\n\\n📧 CONTACT :\\n${contactLines || '(non renseigné)'}`;\n\n// 5. Closing tactique\nlet closing = '';\nif (clientStatus === 'VISITOR')        closing = `🔴 VISITEUR : après le conseil, ferme par : « Crée ton compte gratuit pour commander ». Ne demande jamais de paiement.`;\nelse if (clientStatus === 'FREE_MEMBER') closing = `🟠 MEMBRE : si le produit est éligible Óra+, glisse : « Avec Óra+ ce serait moins cher ». Une seule fois, sans insister.`;\nelse                                    closing = `🟢 VIP : confirme simplement le plaisir, pas d'upsell.`;\n\n// 6. Persona PessoBot (resserrée)\nconst systemPrompt = `Tu es PessoBot, le coach nutrition du bar PessÓra.\n\n⚠️ RÈGLES ABSOLUES :\n1. Tu ne donnes JAMAIS d'infos bar/menu qui ne sont pas dans les blocs ci-dessous.\n2. Si l'info n'est pas disponible, dis-le simplement (« je n’ai pas cette info à jour »).\n3. Tu justifies toujours un conseil par une donnée technique (ingrédient, gramme de protéine, kcal).\n4. Tu parles à ${clientStatus === 'VISITOR' ? 'un visiteur anonyme' : firstName} (statut : ${clientStatus}).\n5. Tu restes court, chaleureux, précis. Pas de markdown lourd (pas de titres, pas de tableaux).\n\nMÉTHODE CONSULTANT :\n- Si la demande est vague (\"je veux de l'énergie\"), pose UNE question de ciblage.\n- Si la demande est précise (\"j'ai faim\", \"sèche\", \"mal aux articulations\"), donne LA solution + pourquoi.\n\nCLOSING :\n${closing}\n\nINFOS BAR (source Supabase — à citer telles quelles) :\n${infosBar}\n\nCARTE À JOUR (source Supabase — à citer telle quelle) :${menuBlock}\n`;\n\nreturn [{ json: { systemPrompt, userMessage: userMsg, sessionId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-2080, 672],
      "id": "097c6288-5812-4824-928e-3402235b4c03",
      "name": "BUILD SYSTEM PROMPT"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "options": { "systemMessage": "={{ $json.systemPrompt }}" }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [-1840, 672],
      "id": "0ed9bcae-2183-47c5-a9fa-49f58971e52f",
      "name": "PessoBot Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook PessoBot').item.json.body.sessionid }}",
        "tableName": "pessora_chat_memory",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [-1720, 848],
      "id": "cdd5d623-449f-49f9-b78d-a407337edb10",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": { "id": "YIzw2d5idZRTu3ES", "name": "KARIBLOOM" }
      }
    },
    {
      "parameters": {
        "jsCode": "let rawText = $input.first().json.output || '';\nlet cleanText = rawText\n  .replace(/^[#]+\\s+/gm, '')\n  .replace(/\\*\\*(.*?)\\*\\*/g, '$1')\n  .replace(/\\*(.*?)\\*/g, '$1')\n  .replace(/^[-\\u2022]\\s+/gm, '👉 ')\n  .replace(/^\\s*-{3,}\\s*$/gm, '')\n  .trim();\nreturn [{ json: { response: cleanText } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1500, 672],
      "id": "421d0ad8-bca3-4014-ac13-bb4828ba6ef5",
      "name": "FORMAT RESPONSE"
    },
    {
      "parameters": { "respondWith": "allIncomingItems", "options": {} },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [-1280, 672],
      "id": "94755c78-9503-447b-a6aa-2f222463aa62",
      "name": "Respond to Webhook"
    },
    {
      "parameters": { "options": {} },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [-1980, 880],
      "id": "56c38125-a61e-44c8-b2db-de567b7d4dcb",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": { "id": "s16Eub8KTcJLPBw5", "name": "KARIBLOOM DEEPSEEK" }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook PessoBot": {
      "main": [[{ "node": "Verify Signature", "type": "main", "index": 0 }]]
    },
    "Verify Signature": {
      "main": [[{ "node": "Is Member Connected?", "type": "main", "index": 0 }]]
    },
    "Is Member Connected?": {
      "main": [
        [{ "node": "Get Profile Supabase", "type": "main", "index": 0 }],
        [{ "node": "Get Menu Supabase", "type": "main", "index": 0 }]
      ]
    },
    "Get Profile Supabase": {
      "main": [[{ "node": "Get Menu Supabase", "type": "main", "index": 0 }]]
    },
    "Get Menu Supabase": {
      "main": [[{ "node": "Get Bar Settings Supabase", "type": "main", "index": 0 }]]
    },
    "Get Bar Settings Supabase": {
      "main": [[{ "node": "BUILD SYSTEM PROMPT", "type": "main", "index": 0 }]]
    },
    "BUILD SYSTEM PROMPT": {
      "main": [[{ "node": "PessoBot Agent", "type": "main", "index": 0 }]]
    },
    "PessoBot Agent": {
      "main": [[{ "node": "FORMAT RESPONSE", "type": "main", "index": 0 }]]
    },
    "FORMAT RESPONSE": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    },
    "Postgres Chat Memory": {
      "ai_memory": [[{ "node": "PessoBot Agent", "type": "ai_memory", "index": 0 }]]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [[{ "node": "PessoBot Agent", "type": "ai_languageModel", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "s1-v2-supabase-driven",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "599c124565a8f36fe2fbc8f53114dcc39cdf941dcbdaac98566633b4f8753f55"
  },
  "id": "fyIQ-CX007b8u_Pf6yi33",
  "tags": []
}
